* {
  box-sizing: border-box;
}

body {
  color: var(--secondary);
  background-color: var(--body);
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 1.8vw, 5rem);
  margin-left: clamp(1rem, 4vw, 10rem);
}

h1 {
  color: var(--secondary);
}

button {
  font-size: 1rem;
  border: none;
  background-color: var(--secondary);
  color: var(--font-secondary-fixed);
  padding: 7px 15px;
  margin: 5px 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.kitchen-sort-container {
  display: flex;
  gap: 3em;
  margin-bottom: 30px;
}

.recipe-card-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 1em;
}

.recipe-card {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: clamp(10rem, 20vw, 25rem);
  height: clamp(22rem, 40vw, 50rem);
  gap: 2em;
  padding: 10px;
  background-color: var(--font-secondary);
  border-radius: 8px;
}

.food-img-bg {
  background-color: var(--aditional);
  padding: 10px;
  height: clamp(10rem, 20vw, 30rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.img-food-card {
  height: 100%;
  object-fit: cover;
}

.food-card-text {
  overflow: hidden;
}